.kordleContents {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: center;
    grid-gap: 50px;
    margin: 0px auto; 
}

.leftContents {
    box-sizing: border-box;

}
.rightContents {
    box-sizing: border-box;
    

}
.section {
    margin: 40px 0px;
}
.kordle
.word {
    width: 50px;
}
.kooooodle
.word {
    width: 50px;
}

.hintText {
    display: none;
    font-size: small;
    font-weight: 900;
    margin : 10px 0px;
}
.hint
.hintText {
    display: block;
    
}



