.section {
    width : 70%;
    margin:40px auto;
}
.answerInputContainer {
    display : flex;
    
    gap: 1px;
}

.kordle
.answerInputContainer .answerInputCase {
    width: calc(100%/6);
    min-width: 40px;
}

.kooooodle
.answerInputContainer .answerInputCase {
    width: calc(100%/12);
    min-width: 40px;
}

.answerInputContainer .answerInputCase .answerInputIdx{
    width: 100%;
    background-color: black;
    color: white;
}

.answerInputContainer .answerInputCase .answerInput {
    width: calc(100% - 5px) ;
    min-height: 40px;
    /* height:80px; */
    font-size:25px;
    font-weight: 900;
    border:0.1px solid #20630b;
    background-color: #d9ead3;
    text-align:center;
}

.answerInput::after {
    padding-bottom: 100%;
}

.exampleListContainer {
    display : flex;
    min-height: 488px;
    gap: 1px;
}

.kordle
.exampleListCase {
    width: calc(100%/6);
    min-width: 40px;
}

.kooooodle
.exampleListCase {
    width: calc(100%/12);
    min-width: 40px;
}

.exmapleItem {
    width: calc(100% - 1px) ;
    
    min-height: 20px;
    font-size: 15px;
    font-weight: 1000;
    background-color: #b7e1cd;
    border: 0.1px solid black;
    text-align: center;
    vertical-align: middle;

    cursor: pointer;
}




.warningListContainer {
    display : flex;
    min-height: 488px;
    gap: 1px;
}

.kordle
.warningListCase {
    width: calc(100%/6);
    min-width: 40px;
}

.kooooodle
.warningListCase {
    width: calc(100%/12);
    min-width: 40px;
}

.warningItemInput {
    width: calc(100% - 5px) ;
    
    min-height: 20px;
    font-size: 15px;
    font-weight: 1000;
    border: 0.1px solid black;
    text-align: center;
    vertical-align: middle;
}
.warningItem {
    width: calc(100% - 1px) ;
    
    min-height: 20px;
    font-size: 15px;
    font-weight: 1000;
    background-color: #f1c232;
    border: 0.1px solid black;
    text-align: center;
    vertical-align: middle;

    cursor: pointer;
}