.answerInputContainer {
    display : flex;
    width : 70%;
    gap: 1;
    margin:0 auto;
    
}
.answerInputContainer .answerInputCase {
    width: calc(100%/12);
}

.answerInputContainer .answerInputCase .answerInputIdx{
    width: 100%;
    background-color: black;
    color: white;
}

.answerInputContainer .answerInputCase .answerInput {
    width: calc(100% - 10px) ;
    min-height: 50px;
     /* height:80px; */
     font-size:25px;
     font-weight: 900;
     border:3px solid #94c37d;
     background-color: #d9ead3;
     text-align:center;
}

.answerInput::after {
    padding-bottom: 100%;
}

.exampleListContainer {
    
    display : flex;
    width : 70%;
    min-height: 488px;
    margin:20px auto;
    gap: 1px;
}

.exampleListCase {
    width: calc(100%/12);
}
.exmapleItem {
    width: 100%;
    min-height: 20px;
    font-size: 15px;
    font-weight: 1000;
    background-color: #b7e1cd;
    border: 0.1px solid black;
    text-align: center;
    vertical-align: middle;
}