.leftContents {
    display: inline-block;
    margin:0px auto;

}
.rightContents {
    display: inline-block;

}
.section {
    margin-top: 40px;
}
.kordle
.word {
    width: 50px;
}
.kooooodle
.word {
    width: 30px;
}
.answerInputContainer {
    display : inline-flex;
    
    gap: 1px;
}

.kordle
.answerInputContainer .answerInputCase {
    
}

.kooooodle
.answerInputContainer .answerInputCase {
    
}

.answerInputContainer .answerInputCase .answerInputIdx{
    width: 100%;
    background-color: black;
    color: white;
}

.answerInputContainer .answerInputCase .answerInput {
    width: calc(100% - 5px) ;
    min-height: 40px;
    /* height:80px; */
    font-size:25px;
    font-weight: 900;
    border:0.1px solid #20630b;
    background-color: #d9ead3;
    text-align:center;
}

.answerInput::after {
    padding-bottom: 100%;
}

.exampleListContainer {
    
    display : inline-flex;
    gap: 1px;
}

.kordle
.exampleListCase {
    
}

.kooooodle
.exampleListCase {
    
}

.exmapleItem {
    width: calc(100% - 1px) ;
    
    min-height: 20px;
    font-size: 15px;
    font-weight: 1000;
    background-color: #b7e1cd;
    border: 0.1px solid black;
    text-align: center;
    vertical-align: middle;

    cursor: pointer;
}




.warningListContainer {
    
    display : inline-flex;
    /* min-height: 488px; */
    gap: 1px;
}

.kordle
.warningListCase {
    
}

.kooooodle
.warningListCase {
    
}

.warningItemInput {
    width: calc(100% - 5px) ;
    
    min-height: 20px;
    font-size: 15px;
    font-weight: 1000;
    border: 0.1px solid black;
    text-align: center;
    vertical-align: middle;
}
.warningItem {
    width: calc(100% - 1px) ;
    
    min-height: 20px;
    font-size: 15px;
    font-weight: 1000;
    background-color: #f1c232;
    border: 0.1px solid black;
    text-align: center;
    vertical-align: middle;

    cursor: pointer;
}



.notUseListContainer {
    display : inline-flex;
    gap: 1px;
}

.notUseListCase {
    
}

.notUseItemInput {
    width: calc(100% - 5px) ;
    
    min-height: 20px;
    font-size: 15px;
    font-weight: 1000;
    border: 0.1px solid black;
    text-align: center;
    vertical-align: middle;
}
.notUseItem {
    width: calc(100% - 1px) ;
    
    min-height: 20px;
    font-size: 15px;
    font-weight: 1000;
    background-color: grey;
    border: 0.1px solid black;
    text-align: center;
    vertical-align: middle;

    cursor: pointer;
}